<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<cc_main>
			<main_options>
				<enable_extension>1</enable_extension>
				<accesstoken backend_model="Magento\Config\Model\Config\Backend\Encrypted">xxxxx-xxxxx-xxxxx-xxxxx</accesstoken>
			</main_options>
		</cc_main>
		<cc_email>
			<options>
				<enable>0</enable>
			</options>
		</cc_email>
		<cc_phone>
			<options>
				<enable>0</enable>
			</options>
		</cc_phone>
		<cc_pcl>
			<options>
				<enable>0</enable>
			</options>
			<gfx_options>
				<hide_fields>0</hide_fields>
			</gfx_options>
			<txt_options>
				<search_placeholder>Type your postcode here</search_placeholder>
				<search_buttontext>Find Address</search_buttontext>
				<search_label>Postcode Lookup</search_label>
				<error_msg_1>This postcode could not be found, please try again or enter your address manually.</error_msg_1>
				<error_msg_2>This postcode is not valid.</error_msg_2>
				<error_msg_3>Unable to connect to address lookup server.</error_msg_3>
				<error_msg_4>An unexpected error occured.</error_msg_4>
			</txt_options>
			<advanced>
				<county_data>none</county_data>
			</advanced>
		</cc_pcl>
		<cc_global>
			<main_options>
				<frontend_enabled>0</frontend_enabled>
				<accesstoken backend_model="Magento\Config\Model\Config\Backend\Encrypted">xxxxx-xxxxx-xxxxx-xxxxx</accesstoken>
			</main_options>
			<gfx_options>
				<mode>1</mode>
				<ambient>light</ambient>
				<accent>default</accent>
			</gfx_options>
			<txt_options>
				<search_label>Address Search</search_label>
				<search_placeholder>Start with post/zip code or street</search_placeholder>
				<country_placeholder>Type here to search for a country</country_placeholder>
				<country_button>Change Country</country_button>
				<error_msg_1>No results found</error_msg_1>
				<error_msg_2>An error occurred. Please enter your address manually</error_msg_2>
				<manual_entry_toggle>Enter address manually</manual_entry_toggle>
			</txt_options>
			<advanced>
				<transliterate>0</transliterate>
				<match_country_list>0</match_country_list>
				<hide_fields>0</hide_fields>
				<lock_country_to_dropdown>0</lock_country_to_dropdown>
				<search_elem_id></search_elem_id>
				<use_first_line>0</use_first_line>
				<debug>0</debug>
			</advanced>
		</cc_global>
	</default>
</config>
