<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
	<default>
		<cc_uk>
			<main_options>
				<frontend_enabled>0</frontend_enabled>
				<backend_enabled>0</backend_enabled>
			</main_options>
			<txt_options>
				<search_placeholder>Type your postcode here</search_placeholder>
				<search_buttontext>Search</search_buttontext>
				<search_label>Postcode Lookup</search_label>
			</txt_options>
		</cc_uk>
	</default>
</config>
