<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<cc_global>
			<main_options>
				<frontend_enabled>0</frontend_enabled>
				<accesstoken>xxxxx-xxxxx-xxxxx-xxxxx</accesstoken>
			</main_options>
			<gfx_options>
				<mode>1</mode>
				<ambient>light</ambient>
				<accent>default</accent>
			</gfx_options>
			<txt_options>
				<search_label>Address Search</search_label>
				<search_placeholder>Start with post/zip code or street</search_placeholder>
				<country_placeholder>Type here to search for a country</country_placeholder>
				<country_button>Change Country</country_button>
				<error_msg_1>No results found</error_msg_1>
				<error_msg_2>An error occured. Please enter your address manually</error_msg_2>
			</txt_options>
			<advanced>
				<match_country_list>0</match_country_list>
				<hide_fields>0</hide_fields>
				<lock_country_to_dropdown>0</lock_country_to_dropdown>
				<search_elem_id></search_elem_id>
			</advanced>
		</cc_global>
	</default>
</config>
