.search-container input{
	outline: none;
	border: 0px;
	font-size: 14px;
	padding: 8px 12px;
	color: #85888d;
	width: 100%;
	min-width: 300px;
	background: #fff;
	border: 1px solid #c2c2c2;
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
}
.search-container input:focus{
	outline: none;
}
.search-container .search-bar{
}
.search-container .action{
	background-image: url('https://dl.dropboxusercontent.com/u/8625455/hexagon1.png');
	position: absolute;
	right: -25px;
	top: -8px;
	height: 30px;
	width: 30px;
	padding: 12px 10px;
	color: white;
}
.search-container .extra-info{
	display: block;
	color: white;
	background-color: #1979c3;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 4px 8px;
}
.search-container{
	margin: 0px;
	position: relative;
	display: inline-block;
}
.search-container .search-list{
	background-color: #e4e8e9;
	font-size: 14px;
	padding: 0px;
	color: #85888d;
	list-style: none;
	margin: 0px;
}
.search-container .search-list li{
	border: 1px solid #85888d;
	padding: 6px 10px;
	cursor: pointer;
	border-top: none;
	margin-bottom: 0px;
	text-align: right;
	font-size: 12px;
}
.search-container .search-list li:hover{
	background-color: white;

}
.search-container .search-list li:first-child{
	border-top: none;
}
.search-container .search-list li:last-child{
	border-bottom: none;
}
