.search-container input{
	outline: none;
	border: 0px;
	background-color: #e4e8e9;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	font-size: 14px;
	padding: 8px 12px;
	color: #85888d;
	width: 200px;
}
.search-container .icon{
	background-image: url('https://dl.dropboxusercontent.com/u/8625455/hexagon1.png');
	position: absolute;
	right: -25px;
	top: -8px;
	height: 30px;
	width: 30px;
	padding: 12px 10px;
	color: white;
}
.search-container .icon .fa{
	color: white;
	font-size: 1.5em;
}
.search-container{
	margin: 0px;
	position: relative;
	display: inline-block;
}
.search-container .search-list{
	background-color: #e4e8e9;
	font-size: 14px;
	padding: 0px;
	color: #85888d;
	list-style: none;
	margin: 0px 0px 0px 10px;
}
.search-container .search-list li{
	border: 1px solid #85888d;
	padding: 6px 10px;
	cursor: pointer;
	border-top: none;
	margin-bottom: 0px;
}
.search-container .search-list li:hover{
	background-color: white;

}
.search-container .search-list li:first-child{
	border-top: none;
}
.search-container .search-list li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
