<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Adminhtml::admin">
                <resource id="Magento_Adminhtml::stores">
                    <resource id="Magento_Adminhtml::stores_settings">
                        <resource id="Magento_Adminhtml::config">
                            <resource id="Craftyclicks_Clicktoaddress::main_config" title="Address Auto-Complete"/>
                            <resource id="Craftyclicks_Clicktoaddress::pcl_config" title="Postcode Lookup" />
                            <resource id="Craftyclicks_Clicktoaddress::email_config" title="Email Validation" />
                            <resource id="Craftyclicks_Clicktoaddress::phone_config" title="Phone Validation" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
