<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="cc_setup" translate="label" sortOrder="900">
			<label>Crafty Clicks</label>
		</tab>
		<section id="cc_main" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Main Settings</label>
			<tab>cc_setup</tab>
			<resource>Craftyclicks_Clicktoaddress::main_config</resource>
			<group id="main_options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Main Options</label>
				<field id="enable_extension" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Extension</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="accesstoken" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Access Token</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<validate>token-format</validate>
				</field>
				<group id="fetchtoken" translate="label" type="text" sortOrder="3" showInWebsite="1" showInStore="2"
					showInDefault="1">
					<frontend_model>Craftyclicks\Clicktoaddress\Block\Adminhtml\Config\FetchToken</frontend_model>
				</group>
			</group>
		</section>
		<section id="cc_global" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Address Auto-Complete</label>
			<tab>cc_setup</tab>
			<resource>Craftyclicks_Clicktoaddress::main_config</resource>
			<group id="main_options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Address Auto-Complete Options</label>
				<field id="frontend_enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			<group id="gfx_options" translate="label" type="text" sortOrder="30"  showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Style Settings</label>
				<field id="mode" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Mode</label>
					<source_model>Craftyclicks\Clicktoaddress\Model\Source\Mode</source_model>
				</field>
				<field id="ambient" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Ambient</label>
					<source_model>Craftyclicks\Clicktoaddress\Model\Source\Ambient</source_model>
				</field>
				<field id="accent" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Accent</label>
					<source_model>Craftyclicks\Clicktoaddress\Model\Source\Accent</source_model>
				</field>
			</group>
			<group id="txt_options" translate="label" type="text" sortOrder="40"  showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Text Options</label>
				<field id="search_label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Search Label</label>
				</field>
				<field id="search_placeholder" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Search Placeholder</label>
					<validate>required-entry</validate>
				</field>
				<field id="country_placeholder" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Placeholder for Country Selection</label>
					<validate>required-entry</validate>
				</field>
				<field id="country_button" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Change Country button text</label>
					<validate>required-entry</validate>
				</field>
				<field id="error_msg_1" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>No Results Message</label>
					<validate>required-entry</validate>
				</field>
				<field id="error_msg_2" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Generic Error Message</label>
					<validate>required-entry</validate>
				</field>
				<field id="manual_entry_toggle" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Text for Toggle Button</label>
					<comment>Only when "Hide Address Fields" is enabled</comment>
					<validate>required-entry</validate>
				</field>
			</group>
			<group id="advanced" translate="label" type="text" sortOrder="50"  showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Advanced</label>
				<field id="transliterate" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Transliterate for non ASCII characters</label>
					<comment>(changes non english characters to english characters)</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="match_country_list" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Match Country List to Allowed Countries</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="hide_fields" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Hide Address Fields</label>
					<comment>Front-end, checkout only feature.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="lock_country_to_dropdown" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Lock country selection</label>
					<comment>Front-end only feature.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="search_elem_id" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Set custom ID for the parent element of the search bar</label>
				</field>
				<field id="use_first_line" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Use first address line for search</label>
					<comment>Front-end only feature. Does not work if "Hide Address Fields" is enabled.</comment>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="debug" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable debug tools</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
		<section id="cc_pcl" translate="label" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>UK Postcode Lookup</label>
			<tab>cc_setup</tab>
			<resource>Craftyclicks_Clicktoaddress::pcl_config</resource>
			<group id="options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Postcode Lookup Options</label>
				<field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			<group id="gfx_options" translate="label" type="text" sortOrder="30"  showInDefault="1">
				<label>Search Options</label>
				<field id="hide_fields" translate="label" type="select" sortOrder="7" showInDefault="1">
					<label>Hide Address Fields of New Address Entry</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
					<comment>Only for the store front</comment>
				</field>
			</group>
			<group id="txt_options" translate="label" type="text" sortOrder="40"  showInDefault="1">
				<label>Message Options</label>
				<field id="search_label" type="text" sortOrder="5" showInDefault="1">
					<label>Search Label</label>
				</field>
				<field id="search_placeholder" type="text" sortOrder="5" showInDefault="1">
					<label>Search Placeholder</label>
				</field>
				<field id="search_buttontext" type="text" sortOrder="6" showInDefault="1">
					<label>Button Text</label>
				</field>
				<field id="error_msg_1" type="text" sortOrder="10" showInDefault="1">
					<label>Error Msg #1</label>
				</field>
				<field id="error_msg_2" type="text" sortOrder="20" showInDefault="1">
					<label>Error Msg #2</label>
				</field>
				<field id="error_msg_3" type="text" sortOrder="30" showInDefault="1">
					<label>Error Msg #3</label>
				</field>
				<field id="error_msg_4" type="text" sortOrder="40" showInDefault="1">
					<label>Error Msg #4</label>
				</field>
			</group>
			<group id="advanced" translate="label" type="text" sortOrder="50"  showInDefault="1">
				<label>Advanced</label>
				<field id="county_data" type="select" sortOrder="1" showInDefault="1">
					<label>County Data</label>
					<source_model>Craftyclicks\Clicktoaddress\Model\Source\PCLCountyOption</source_model>
					<comment>County data is not required for UK addressing. Select a type of county data, if you need this data for legacy software requirements. "Empty" will erase any data already present in the input field, but still allows the user to enter any values later.</comment>
				</field>
			</group>
		</section>
		<section id="cc_phone" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Phone Validation</label>
			<tab>cc_setup</tab>
			<resource>Craftyclicks_Clicktoaddress::phone_config</resource>
			<group id="options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Phone Validation Options</label>
				<field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
		<section id="cc_email" translate="label" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1">
			<label>Email Validation</label>
			<tab>cc_setup</tab>
			<resource>Craftyclicks_Clicktoaddress::email_config</resource>
			<group id="options" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Email Validation Options</label>
				<field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
