<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="cc_setup" translate="label" sortOrder="900">
			<label>Crafty Clicks</label>
		</tab>
		<section id="cc_global" translate="label" sortOrder="130" showInDefault="1">
			<label>Click to Address</label>
			<tab>cc_setup</tab>
			<resource>Craftyclicks_Clicktoaddress::main_config</resource>
			<group id="main_options" translate="label" type="text" sortOrder="10" showInDefault="1">
				<label>Main Options</label>
				<field id="enabled" translate="label" type="select" sortOrder="1" showInDefault="1">
					<label>Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="accesstoken" type="text" sortOrder="2" showInDefault="1">
					<label>Access Token</label>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
				</field>
			</group>
			<group id="gfx_options" translate="label" type="text" sortOrder="30"  showInDefault="1">
				<label>Style Settings</label>
				<field id="mode" translate="label" type="select" sortOrder="5" showInDefault="1">
					<label>Mode</label>
					<source_model>Craftyclicks\Clicktoaddress\Model\Source\Mode</source_model>
				</field>
				<field id="ambient" translate="label" type="select" sortOrder="30" showInDefault="1">
					<label>Ambient</label>
					<source_model>Craftyclicks\Clicktoaddress\Model\Source\Ambient</source_model>
				</field>
				<field id="accent" translate="label" type="select" sortOrder="40" showInDefault="1">
					<label>Accent</label>
					<source_model>Craftyclicks\Clicktoaddress\Model\Source\Accent</source_model>
				</field>
			</group>
			<group id="txt_options" translate="label" type="text" sortOrder="40"  showInDefault="1">
				<label>Text Options</label>
				<field id="search_label" type="text" sortOrder="5" showInDefault="1">
					<label>Search Label</label>
				</field>
				<field id="search_placeholder" type="text" sortOrder="10" showInDefault="1">
					<label>Search Placeholder</label>
				</field>
				<field id="country_placeholder" type="text" sortOrder="15" showInDefault="1">
					<label>Placeholder for Country Selection</label>
				</field>
				<field id="country_button" type="text" sortOrder="20" showInDefault="1">
					<label>Change Country button text</label>
				</field>
				<field id="error_msg_1" type="text" sortOrder="25" showInDefault="1">
					<label>No Results Message</label>
				</field>
				<field id="error_msg_2" type="text" sortOrder="30" showInDefault="1">
					<label>Generic Error Message</label>
				</field>
			</group>
			<group id="advanced" translate="label" type="text" sortOrder="50"  showInDefault="1">
				<label>Advanced</label>
				<field id="match_country_list" type="select" sortOrder="5" showInDefault="1">
					<label>Match Country List to Allowed Countries</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="hide_fields" type="select" sortOrder="10" showInDefault="1">
					<label>Hide Address Fields</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="lock_country_to_dropdown" type="select" sortOrder="15" showInDefault="1">
					<label>Lock country selection</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="search_elem_id" type="text" sortOrder="20" showInDefault="1">
					<label>Set custom ID for the parent element of the search bar</label>
				</field>
			</group>
		</section>
	</system>
</config>
